@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paper: #fafaf9;
}

.dark {
  --paper: #141316;
}

body {
  background: var(--paper);
  color: #1c1917;
}

.dark body {
  color: #e7e5e4;
}
